<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: blue">
        <%- include('partials/nav.ejs'); -%>

    <h1 style="text-align: center; color: white">Contact Page</h1>

    <form method="post" action="/contact">
        <label for="who">Name</label>
        <input type="text" name="who" value="<%= qs.person %>" />

        <label for="age" >Age</label>
        <input type="text" name="age" value="<%= qs.age %>" />

        <label for="email" >Age</label>
        <input type="email" name="email" value="" />

        <input type="submit" />
    </form>
</body>
</html>